.sideBar{
    flex: 0.35;
    display: flex;
    flex-direction: column;
}
.Sidebar_Header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-right: 1px solid lightgrey;
}
.side_headeright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vh;
}

.side_headeright>.MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px;
}

.Sidebar_Search{
    display: flex;
    align-items: center;
    background-color: rgb(129, 128, 128);
    height: 39;
    padding: 10px;
}

.sidebar_Searchcontainer{
    display: flex;
    align-items: center;
    background-color: lightyellow;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.sidebar_Searchcontainer>input{
    border: none;
    border-left: 10px;    
}
.sidebar_Searchcontainer>.MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}
.Sidebar_Chats{
    flex: 1;
    background-color: #ffffff;
    overflow: scroll;

}